/*
Essence Custom Style
leVenour and Zoey
*/

@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background: #13377c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #13377c, #162c53);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #13377c, #162c53); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  min-height: 100%;
  font-family: 'Raleway';
}

@media (min-width: 1200px)
.container {
    max-width: 1440px;
}

    a {
      font-family: 'Raleway';
    }

    h1 {
      font-family: 'Raleway';
    }

    h2 {
      font-family: 'Raleway';
      font-weight: bold;
    }

    h3 {
      color: #393939;
      font-family: 'Raleway';
    }

    h5 {
      color: #393939;
      font-family: 'Raleway';
    }


    .varox-btn {
      text-transform: capitalize;
      font-weight: 900;
      font-family: 'modern_sans';
      font-size: 20px;
      color: white;
    }

    .varox-card {
      margin-top: 15px;
      text-align: center;
    }

    .varox-categories {
    }

    @media only screen and (max-width: 991px) {
      .varox-categories {
        text-align: center;
        content-align: center;
      }
    }

    .gray-text {
      color: #393939;
    }

    .varox-hr {
      border-top: 2px solid white;
    }


.title-text {
  font-weight: bold;
  font-size: 4vw;
}

.capitialize {
  text-transform: capitalize;
}

.register-info {
  color: white;
}

.bold-text {
  font-weight: bold;
}

.navbar {
    border: none;
    box-shadow: none;
}

@media screen and (min-width: 768px){
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
    }
    .dropdown-toggle{
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
    }
}

.dropdown-icon-navbar {
  border-radius: 0px;
  box-shadow: 0;
  border-bottom: 5px solid #e53935;
  border-top: 0px solid white;
  min-width: 300px;
  padding: 10px;
}

.header {
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}
.card {
  box-shadow: none;
}

.author-card {
  position: relative;
  padding-bottom: 48px;
}
.author-card .author-card-cover {
  position: relative;
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.author-card .author-card-cover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.5;
}
.author-card .author-card-cover > .btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0 10px;
}
.author-card .author-card-profile {
  display: table;
  position: relative;
  margin-top: -95px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
  display: table-cell;
  vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
  width: 85px;
  border-radius: 5%;
  overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
  display: block;
  width: 100%;
  padding: 10px;
}

.author-card .author-card-profile .author-card-avatar > img:hover {
cursor: pointer;
}

.author-card .author-card-profile .author-card-details {
  padding-top: 0px;
}
.author-card .author-card-profile .author-card-name {
  font-size: 30px;
}
.author-card .author-card-profile .author-card-position {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 600;
}
.author-card .author-card-info {
  margin-bottom: 0;
  padding: 0 25px;
  font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
  display: table;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}

.zoom-logo {
  transition: transform .4s; /* Animation */
}

.zoom-logo:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
